.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    /* width: 145px; */
    /* height: 46px; */
    padding: 12px 16px;
    cursor: pointer;
    font-family: 'DM Sans'
  }

.btnContainer span {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btnContainer span:hover {
  font-weight: 700;
}

.btnContainer:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

  .btnDark{
    background: #333333;
    color: #ffffff;
  }

  .blackOutline {
    border: 2px solid #000000;
  }
.btnPrimary {
  background: #000000;
  color: #ffffff;
}

.btnSecondary {
  background: #fcb400;
  color: #000000;
}

.btnWhite {
  background: #ffffff;
  color: #000000;
}

.blackOutline {
  border: 2px solid #000000;
}

.whiteOutline {
  border: 2px solid #ffffff;
}

.btnFull {
  width: 100%;
}

.video {
  flex-direction: row-reverse;
}

.arrow {
  flex-direction: row;
}

.arrow img {
  transform: translateX(5px);
}

@media only screen and (max-width: 992px) {
  .btnContainer {
    width: 100%;
    padding: 16px 16px;
  }
}
